# Some useful python packages
virtualenvwrapper
pip
requests # http stuff
wrapt # decorators and monkey-patching
q # debug prints
flake8 # Linting
boto3 # AWS
tqdm # progress bars
joblib # parallelism
dill # a better pickle
tinydb # mini NoSQL
bokeh # graphing